.blog img {
    border-radius: 10px;
}

.blog-details-images img {
    border-radius: 30px;
}

.text-300 {
    color: rgb(206, 206, 206) !important;
    font-family: sans-serif;
}

p,
a,
li,
ul,
ol,
b {
    color: rgb(206, 206, 206) !important;
    font-size: 18px;
    line-height: 26px;
}

p {
    line-height: 30px;
}

a {
    color: #f84848;
}

li,
ul,
ol {
    line-height: 38px;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
b,
strong {
    font-family: sans-serif;
}


.h3,
h3 {
    font-size: 1.55rem;
    font-weight: 500;
    margin-top: 1.7rem;
    margin-bottom: 1.4rem;
}

.h4,
h4 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.h2,
h2 {
    margin-bottom: 1.5rem !important;
    margin-top: 2rem !important;
    font-family: sans-serif;
}

.h1,
h1 {
    margin-bottom: 1.5rem !important;
    margin-top: 2rem !important;
}

@media (max-width: 768px) {

    ol,
    li,
    ul {
        font-size: 14px !important;
        line-height: 28px !important;
    }

    a {
        font-size: 14px !important;
        color: #f84848 !important;
    }

    .h2,
    h2 {
        font-size: 1.5rem !important;
    }

    .h3,
    h3 {
        font-size: 1.2rem !important;
        font-weight: 500;
        margin-top: 1.5rem;
        margin-bottom: 1.2rem;
    }

    .h4,
    h4 {
        font-size: 1rem !important;
        margin-top: 1.3rem;
        margin-bottom: 1rem;
    }
}

/* @media (min-width: 1200px) {

    .h2,
    h2 {
        font-size: 2rem !important;
        margin-bottom: 2.5rem;
    }

    .h1,
    h1 {
        margin-bottom: 1.5rem !important;
        margin-top: 2.5rem !important;
    }
} */