.blog img {
    border-radius: 10px;
}

.blog-details-images img {
    border-radius: 30px;
}

.text-300 {
    color: rgb(206, 206, 206) !important;
    font-family: sans-serif;
}

p,
a,
li,
ul,
ol,
b,
strong {
    font-size: 18px;
    line-height: 30px;
}

a {
    color: #f84848;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
b,
strong {
    font-family: sans-serif;
}


.h2,
h2 {
    font-size: 2rem;

}

.h5,
h5 {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    font-family: sans-serif;

}

.h4,
h4 {
    margin-bottom: 1.5rem !important;
    margin-top: 2rem !important;
}

@media (min-width: 1200px) {

    .h2,
    h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    .h5,
    h5 {
        margin-bottom: 1.5rem !important;
        margin-top: 1.5rem !important;
    }

    .h4,
    h4 {
        margin-bottom: 1.5rem !important;
        margin-top: 2.5rem !important;
    }
}